nav{
background-color: beige; 
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
color: black;
}

button{
  border-radius: 20px;
}

body{
  background-color: black;
  color: white;
}